<div id="body">
    <h1>{{title}}</h1>
    <p>{{message}}</p>

    <h2>ngIf</h2>
    <p *ngIf="visible" (click)="doIfClick()">This is True message.</p>
    <p *ngIf="!visible" (click)="doIfClick()">This is False messasge.</p>

    <h2>InputForm</h2>
    <p [class]="styleClass">{{inputMessage}}</p>

    <input type="text" #field1 
        (keyup)="doType(field1.value)" />


    <h2>ClickPropaty</h2>
    <!-- <p>{{count}}回クリックしました</p> -->
    <p>{{countMessage}}</p>
    <button (click)="doClick()">Click</button>

    <h2>Method</h2>
    <p>{{today()}}</p>

    <h2>ngFor</h2>
    <ul>
        <li *ngFor="let item of data">{{item}}</li>
    </ul>

    <h2>ngSwitch</h2>
    <div [ngSwitch]="switch">
        <p *ngSwitchCase="'one'">First paragraph!</p>
        <p *ngSwitchCase="'two'">Two paragraph!</p>
        <p *ngSwitchCase="'three'">Three paragraph!</p>
    </div>

    <select #sel (change)="doSelect(sel.value)">
        <option>one</option>
        <option>two</option>
        <option>three</option>
    </select>

    <!-- Styleバインディング -->
    <!-- [style.color]="'#FFF'" のような形で記述するとfontの色が変わる -->
    <p
        [style.font-size.pt]="36"
        [style.color]="'#F00'">{{message}}</p>

    <p
        [style.font-size.pt]="24"
        [style.color]="'#F99'">{{message}}</p>

    <p
        [style.font-size.pt]="12"
        [style.color]="'#Fcc'">{{message}}</p>
    <!-- Styleバインディングここまで -->

    <h2>ngClass</h2>
    <p [ngClass]="nowClass">ngClass:{{message}}</p>
    <input type="checkbox" #ck1
        (change)="check(ck1.checked, ck2.checked, ck3.checked);"/>Thin
    <input type="checkbox" #ck2
        (change)="check(ck1.checked, ck2.checked, ck3.checked);"/>Large
    <input type="checkbox" #ck3
        (change)="check(ck1.checked, ck2.checked, ck3.checked);"/>Frame

    <h2>ngStyle</h2>
    <p [ngStyle]="nowStyle">ngStyle:{{styleMessage}}</p>
    <input type="text" #in1
        (change)="styleCheck(in1.value, in2.value, in3.value);"/><br>
    <input type="text" #in2
        (change)="styleCheck(in1.value, in2.value, in3.value);"/><br>
    <input type="text" #in3
        (change)="styleCheck(in1.value, in2.value, in3.value);"/><br>
</div>
